<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/rubick_transport</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="me.rubick.transport.app.model.Product"/>
        <mapping class="me.rubick.transport.app.model.ProductPackage"/>
        <mapping class="me.rubick.transport.app.model.Config"/>
        <mapping class="me.rubick.transport.app.model.DistributionChannel"/>
        <mapping class="me.rubick.transport.app.model.ProductWarehourse"/>
        <mapping class="me.rubick.transport.app.model.Warehourse"/>
        <mapping class="me.rubick.transport.app.model.Warehouse"/>
        <mapping class="me.rubick.transport.app.model.Package"/>
        <mapping class="me.rubick.transport.app.model.PackageProduct"/>
        <mapping class="me.rubick.transport.app.model.Menu"/>
        <mapping class="me.rubick.transport.app.model.Message"/>
        <mapping class="me.rubick.transport.app.model.ProductWarehourse"/>
        <mapping class="me.rubick.transport.app.model.ProductWarehouse"/>
        <mapping class="me.rubick.transport.app.model.Payment"/>
        <mapping class="me.rubick.transport.app.model.Order"/>
        <mapping class="me.rubick.transport.app.model.OrderItem"/>
        <mapping class="me.rubick.transport.app.model.CostSubject"/>
        <mapping class="me.rubick.transport.app.model.Statements"/>
        <mapping class="me.rubick.transport.app.model.OrderLogistics"/>
        <mapping class="me.rubick.transport.app.model.SwitchSku"/>
        <mapping class="me.rubick.transport.app.model.Notice"/>
        <mapping class="me.rubick.transport.app.model.PackageBox"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>